{% extends 'html/home.html' %}
{%load static%}
{% block body %}
<link href="{%static 'css/reporting.css'%}" rel="stylesheet">

<h2><center>Employee Hierarchy</center></h2>



{% for manager in managers %}
  <div class="manager-container">
    <p class="toggle" data-target=".tl-list-{{ manager.id }}">{{ manager.name }} - Manager</p>
    <ul class="tl-list-{{ manager.id }} collapsed">
      {% for tl in manager.employee_model_set.all %}
        <li>
          <p class="toggle" data-target=".associate-list-{{ tl.id }}">{{ tl.name }} - TL
          <ul class="associate-list-{{ tl.id }} collapsed">
            {% for associate in tl.employee_model_set.all %}
              <li>{{ associate.name }} - Associate</li>
            {% endfor %}
          </ul></p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{%static 'js/reporting.js'%}" ></script>


{% endblock %}